/* Global rules start */
* {
    box-sizing: border-box;
    --maincolor: #10cab7;
    --second-color: #2c4755;
    --p-color: #575757;
    --h-color: #1f2021;
    margin: 0;
    padding: 0;
    --padding: 60px;
    --section-background: #f6f6f6;
    --margin-top: 100px;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

html {
    scroll-behavior: smooth;
}

/* Global rules end */


/* Media Queries */

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Large devices  */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Extra large devices ( 1200px and up)  */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Media Queries End*/


/* Header Start*/
.header {
    padding: 20px;
}


.header .container {
    display: flex;
    justify-content: space-between;
}

.header .logo {
    width: 75px;
}

.header .links {
    position: relative;

}

.header .links .icon {
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}



.header .links .icon span {
    background-color: #222;
    margin-bottom: 5px;


}

.header .links .icon span:first-child {
    height: 3px;
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    height: 3px;
    width: 60%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.header .links:hover .icon span:nth-child(2) {
    width: 110%;
}

.header .links .icon span:last-child {
    height: 3px;
    width: 100%;
}

.header .links ul {
    list-style: none;
    background-color: #EEE;
    padding: 0px;
    margin: 0;
    position: absolute;
    min-width: 200px;
    right: 0;
    top: calc(100% + 20px);
    display: none;
}

.header .links:hover ul {
    display: block;
    z-index: 1;
}

.header .links ul::before {
    content: "";
    border-style: solid;
    border-color: transparent transparent #EEE transparent;
    border-width: 10px;
    position: absolute;
    right: 7px;
    top: -20px;

}

.header .links ul li a {
    text-decoration: none;
    display: block;
    padding: 15px;
    color: #222;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;

}

.header .links ul li a:hover {
    padding-left: 20px;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

/* Header End*/


/* Landing start*/
.landing {
    background-image: url(/images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 75px);
    position: relative;

}

.landing .landtext {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 300px;
    max-width: 100%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.landing .landtext h1 {
    margin: 0;
    color: var(--maincolor);
    font-size: 50px;
    font-weight: bold;
    text-transform: capitalize;
}

.landing .landtext p {
    color: var(--second-color);
    font-size: 14px;
    line-height: 1.7;
    font-weight: 409;
}

/* Landing End*/


/* Start features */
.features {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    background-color: var(--section-background);
}


.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;

}

.features .feat {
    padding: 20px;
    text-align: center;

}

.features .feat h3 {
    text-transform: capitalize;
    font-weight: 800;
    line-height: 1.6;
    margin: 30px 0;
    color: var(--h-color);
    min-width: 300px;

}

.features .feat p {

    font-weight: 400;
    color: var(--p-color);
}

.features .feat i {
    color: var(--maincolor);
    padding: 20px;
    font-size: 40px;

}

/* End features */




/* Start Special heading Words*/
.special-word {
    color: #ebeced;
    text-align: center;
    font-weight: 800;
    letter-spacing: -4px;
    font-size: 100px;
    margin: 0;
    padding: 0;

}

.special-word+p {
    text-align: center;
    position: relative;
    top: -35px;
    font-size: 20px;
    color: #575757;
}

@media (max-width:580px) {
    .special-word {
        font-size: 70px;
    }

    .special-word+p {
        font-size: 13px;
        top: -25px;
    }
}


/* End Special heading Words*/

/* Start services*/

.services {
    padding-bottom: var(--padding);
    padding-top: var(--padding);
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: var(--margin-top);
}

.services .services-content .srv {
    margin-bottom: 30px;
    display: flex;
}

@media (max-width:767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }

}

.services .services-content .srv i {
    color: var(--maincolor);
    font-size: 30px;
    flex-basis: 60px;
}

.services .services-content .srv .text {
    flex: 1;
}

.services .services-content .srv .text h3 {
    margin: 0 0 20px 0;
    color: #1f2021;
    font-weight: 800;
}

.services .services-content .srv .text P {
    color: var(--p-color);
    font-weight: 400;
    line-height: 1.5;
}

.services .services-content .srv .image img {
    width: 260px;
    height: 345px;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.services .services-content .srv .image {
    text-align: center;
    position: relative;


}

.services .services-content .col:nth-child(2) .srv:last-child {
    margin-top: 50px;

}



.services-content .srv .image::before {
    content: "";
    position: absolute;
    background-color: var(--second-color);
    height: calc(100% + 50px);
    width: 90px;
    top: -27px;
    right: -40px;
    z-index: -1;

}

@media (max-width:1199px) {
    .image-hide {
        display: none;
    }
}

/* End services*/

/*Start portfolio*/



@media (max-width:767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }

}

.portfolio {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    background-color: var(--section-background);

}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: var(--margin-top);
}

.portfolio .portfolio-content .card {
    background-color: white;
}

.portfolio .portfolio-content .card img {
    max-width: 100%;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.portfolio .portfolio-content .card .info {
    padding: 20px;
}

.portfolio .portfolio-content .card .info h3 {
    margin: 0;
    color: var(--h-color);
    font-weight: 800;
}

.portfolio .portfolio-content .card .info p {
    color: var(--p-color);
    line-height: 1.6;
    margin-bottom: 0;
}

/*End portfolio*/

/* Start about */
.about {
    padding-top: var(--padding);
    padding-bottom: calc(var(--padding) + 60px);
}

.about-content {
    margin-top: var(--margin-top);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


@media (max-width:991px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}

@media (max-width:991px) {

    .about-content .image {
        margin: 0 auto 50px;
    }
}

.about-content .image img {
    max-width: 100%;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.about-content .image::before {
    content: '';
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 40px);
    top: -20px;
    z-index: -1;
    left: -25px;
}

.about-content .image::after {
    content: '';
    position: absolute;
    border-bottom: 80px solid var(--maincolor);
    right: -150px;
    top: -5%;
    right: -160px;
    z-index: -1;
    border-left: 80px solid var(--maincolor);
    width: 130px;
    height: 265px;
}

@media (max-width:991px) {

    .about-content .image::after,
    .about-content .image::before {
        display: none;
    }

    .about-content .image {
        margin-bottom: 50px;
        align-content: center;
    }
}


.about-content .text {
    flex-basis: calc(100% - 500px);

}

.about-content .text P:first-of-type {
    font-weight: 800;
    line-height: 1.6;
    margin-bottom: 40px;
    color: var(--h-color);

}

.about-content .text hr {
    display: inline-block;
    border-color: var(--maincolor);
    width: 50%;
}

.about-content .text P:last-of-type {
    line-height: 1.6;
    color: var(--p-color);
    margin-top: 20px;
}

/* End about */


/* Contact Start*/

.contact {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    background-color: var(--section-background);
}

.contact .info {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    line-height: 2;
}

.lh3 {
    font-weight: 800;
    color: var(--second-color);
    font-size: 35px;
    letter-spacing: -1.5px;
}

.contact .info .link {
    display: block;
    text-decoration: none;
    font-size: 25px;
    color: var(--maincolor);
    font-weight: 800;

}

.info .social {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 10px;
    font-size: 15px;
    color: var(--h-color);
    font-weight: 400;




}

.info .social i {
    margin: 8px 6px;
    color: var(--second-color);

}

@media (max-width:552px) {

    .contact .info .lh3,
    .contact .info .link {
        font-size: 20px;
    }
}

/* Contact End*/

.footer {
    text-align: center;
    padding: 30px;
    background-color: var(--second-color);
    color: white;
    font-weight: 800;
    letter-spacing: 0.5
}

.footer span {
    color: var(--maincolor);
}